[Desktop Entry]
Name=Kontainer
Exec=kontainer
Icon=io.github.DenysMb.Kontainer
Type=Application
Terminal=false
Categories=Utility
Keywords=container;podman;distrobox;
Comment="A Graphical Interface For Managing Distroboxes