# SPDX-FileCopyrightText: 2025 Denys Madureira <denysmb@zoho.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Kontainer
Exec=kontainer
Icon=io.github.DenysMb.Kontainer
Type=Application
Terminal=false
Categories=Utility
Keywords=container;podman;distrobox;
Comment=Manage Distrobox containers
